/* line 14, ../../../../sass/style.scss */
body {
  padding-top: 80px;
  font: 14px/19px Roboto, sans-serif;
  background-color: #1a1919;
  color: #fff;
}

/* line 20, ../../../../sass/style.scss */
#main-navigation {
  width:100%;
  padding-top: 25px;
  font-size: 16px;  
  font-weight: 100;
  background-color:#1a1919;  
  height:50px;
  position:fixed;
  top:0px;
}

.nav.nav-tabs {
 background-color: gainsboro;
}

/* line 24, ../../../../sass/style.scss */
#main-navigation ul {
  list-style-position: inside;
  list-style-type: none;
  display: inline-block;
}
/* line 29, ../../../../sass/style.scss */
#main-navigation ul li {
  display: inline;
  padding: 0 20px;
}
/* line 32, ../../../../sass/style.scss */
#main-navigation ul li:first-child {
  margin-top: 10px;
  padding-left: 0;
}
/* line 37, ../../../../sass/style.scss */
#main-navigation ul li a {
  color: #fff;
}
/* line 43, ../../../../sass/style.scss */
#main-navigation #other {
  margin-left: 80px;
  font-weight: 400;
}

/* line 49, ../../../../sass/style.scss */
.ruboto-big-logo {
  margin-top: 10px;
}

/* line 53, ../../../../sass/style.scss */
#hero {
  height: 400px;
  background-color: #28668d;
  padding-top: 40px;
}
/* line 58, ../../../../sass/style.scss */
#hero h1 {
  font: 42px Roboto, sans-serif;
  font-weight: 900;
  color: #fff;
}
/* line 64, ../../../../sass/style.scss */
#hero span {
  color: #fff;
}
/* line 68, ../../../../sass/style.scss */
#hero p {
  padding: 40px 0;
  line-height: 160%;
  color: #e1efef;
  font-size: 16px;
}

/* line 76, ../../../../sass/style.scss */
#downloads {
  max-height: 150px;
  height: 150px;
  background-color: #a63f3f;
  text-align: center;
  border-top: 1px #732020 solid;
  border-bottom: 1px #732020 solid;
}
/* line 84, ../../../../sass/style.scss */
#downloads #surfit {
  display: none;
}
/* line 88, ../../../../sass/style.scss */
#downloads h2 {
  color: white;
  padding-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
/* line 96, ../../../../sass/style.scss */
#downloads p {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 300;
}
/* line 101, ../../../../sass/style.scss */
#downloads p a:link {
  text-decoration: underline;
}
/* line 106, ../../../../sass/style.scss */
#downloads iframe {
  padding-top: 10px;
}
/* line 110, ../../../../sass/style.scss */
#downloads a:link, #downloads a:visited {
  color: white;
  text-decoration: none;
}
/* line 115, ../../../../sass/style.scss */
#downloads a:hover, #downloads a:active {
  color: white;
  text-decoration: underline;
}

/* line 121, ../../../../sass/style.scss */
#quickstart {
  height: 500px;
  color: black;
  background-color: white;
  border-bottom: 1px #ebebeb solid;
}
/* line 127, ../../../../sass/style.scss */
#quickstart .nav-tabs > li {
  width: 235px;
  text-align: center;
}
/* line 132, ../../../../sass/style.scss */
#quickstart .nav-tabs > li > a {
  height: 40px;
  max-height: 40px;
  line-height: 35px;
  border-radius: 0px;
}
/* line 139, ../../../../sass/style.scss */
#quickstart .tab-pane {
  position: relative;
  height: 427px;
}
/* line 143, ../../../../sass/style.scss */
#quickstart .tab-pane p {
  line-height: 150%;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

/* line 152, ../../../../sass/style.scss */
#quick-news {
  padding: 30px 0;
  /*background-color: $quick-news-color;*/
  background-image: url("../img/bg.png");
  color: white;
  border-bottom: 0px;
}
/* line 158, ../../../../sass/style.scss */
#quick-news h2 {
  font-weight: 300;
  color: white;
  margin-bottom: 10px;
}
/* line 164, ../../../../sass/style.scss */
#quick-news ul li {
  padding: 2px 0;
}
/* line 166, ../../../../sass/style.scss */
#quick-news ul li a:link, #quick-news ul li a:visited {
  font-size: 16px;
  color: #fff;
  text-decoration: underline;
}
/* line 171, ../../../../sass/style.scss */
#quick-news ul li a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 175, ../../../../sass/style.scss */
#quick-news ul li a:active {
  color: #ddd;
}
/* line 178, ../../../../sass/style.scss */
#quick-news ul li .date {
  font-size: 14px;
}

/* line 185, ../../../../sass/style.scss */
.content {
  padding: 30px 0;
  color: black;
  background-color: white;
  border-bottom: 1px #ebebeb solid;
  min-height: 400px;
}
/* line 191, ../../../../sass/style.scss */
.content h2 {
  font-weight: 500;
}
/* line 195, ../../../../sass/style.scss */
.content h3 {
  font-weight: 400;
}

/* line 201, ../../../../sass/style.scss */
#page #page-header {
  padding: 30px 0;
  background-color: #28668d;
}
/* line 205, ../../../../sass/style.scss */
#page #page-header h2 {
  font-weight: 300;
  font-size: 30px;
  color: white;
}

/* line 213, ../../../../sass/style.scss */
#news {
  background-color: white;
  color: black;
}
/* line 217, ../../../../sass/style.scss */
#news .news-header {
  background-color: #c04949;
  color: white;
}
/* line 220, ../../../../sass/style.scss */
#news .news-header h2 {
  padding: 20px 0;
}
/* line 222, ../../../../sass/style.scss */
#news .news-header h2 a:link, #news .news-header h2 a:visited {
  color: white;
  font-size: 30px;
  text-decoration: underline;
}
/* line 230, ../../../../sass/style.scss */
#news .news-publish-date {
  background-color: #ff6161;
}
/* line 232, ../../../../sass/style.scss */
#news .news-publish-date h3 {
  color: white;
  font-size: 18px;
  font-weight: 100;
  padding: 10px 0;
}
/* line 240, ../../../../sass/style.scss */
#news .news-content {
  padding: 20px 0;
}

/* line 245, ../../../../sass/style.scss */
footer {
  font-weight: 100;
  margin-top: 20px;
  height: 150px;
}
/* line 250, ../../../../sass/style.scss */
footer img.thanks {
  padding: 0 10px;
  height: 50px;
}

/* Page header tweaks */
/* line 257, ../../../../sass/style.scss */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: 0;
}

/* line 263, ../../../../sass/style.scss */
.topbar .btn {
  border: 0;
}

/* tag_box ======================================================== */
/* line 270, ../../../../sass/style.scss */
.tag_box {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  overflow: hidden;
}

/* line 276, ../../../../sass/style.scss */
.tag_box li {
  line-height: 28px;
}

/* line 279, ../../../../sass/style.scss */
.tag_box.inline li {
  float: left;
}

/* line 282, ../../../../sass/style.scss */
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #005F6B;
  border-radius: 3px;
  text-decoration: none;
}

/* line 290, ../../../../sass/style.scss */
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

/* line 294, ../../../../sass/style.scss */
.tag_box a.active {
  background: #57A957;
  border: 1px solid #4C964D;
  color: #FFF;
}
